<app-menu></app-menu>
<!-- <p>request-approve works!</p> -->
<div>
    <h3>Review Request</h3>
    <table class = "table table-sm">
        <thead>
        <tr>
            <th>Id</th>
            <th>Description</th>
            <th>Status</th>
            <th>Total</th>
            <th>User</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngIf = "request">
            <td>{{request.id}}</td>
            <td>{{request.description}}</td>
            <td>{{request.status}}</td>
            <td>{{request.total}}</td>
            <td>{{request.user.username}}</td>
        </tr>
        </tbody>
    </table>
<hr>
<h4>Request Line Items</h4> | <a routerLink ="/requests/lines/create/{{request}}">Create</a>
<table class = "table table-sm">
    <thead>
    <tr>
        <th>Id</th>
        <th>Description</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Line Total</th>
    </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let lineItem of lineItems">
            <td>{{lineItem.product.id}}</td>
            <td>{{lineItem.product.name}}</td>
            <td>{{lineItem.quantity}}</td>
            <td>{{lineItem.product.price}}</td>
            <td>{{lineItem.product.price * lineItem.quantity}}</td>
        </tr>
    </tbody>
</table>
<button class = "btn btn-primary" (click) = "approve()">Approve</button> | 
<button class = "btn btn-danger" (click) = "reject()">Reject</button>
<input type = "text" placeholder = "Reason for rejection" *ngIf = "showReasonForRejection" [(ngModel)] = "request.reasonForRejection">
<button class = "btn btn-link" *ngIf = "showReasonForRejection" (click) = "confirm()">Confirm</button>
</div>