<app-menu></app-menu>
<p>request-create works!</p>
<div>
    <div>
        <span>
            Request create
        </span>
    </div>
    <table class="table table-sm" *ngIf = "request">
        <tr>
            <th>Id</th>
            <td><input [(ngModel)]="request.user.id" type="number"></td>
        </tr>
        <tr>
            <th>Description</th>
            <td><input [(ngModel)]="request.description" type="text" ></td>
        </tr>
        <tr>
            <th>Justification</th>
            <td><input [(ngModel)]="request.Justification" type="text"></td>
        </tr>
        <tr>
            <th>Date Needed</th>
            <td><input [(ngModel)]="request.dateNeeded" type="text"></td>
        </tr>
        <tr>
            <th>Delivery Mode</th>
            <td><input [(ngModel)]="request.deliveryMode" type="text"></td>
        </tr>
        <tr>
            <th>Status</th>
            <td><input [(ngModel)]="request.status" type="text" disabled></td>
        </tr>
        <tr>
            <th>Total</th>
            <td><input [(ngModel)]="request.total" type="text" disabled></td>
        </tr>
    </table>
    <button (click)="save()" class="btn btn-primary">Save</button>

</div>