<div id = "container">
    <div style = "text-align: center;">
        <h3>PRS Login</h3>
        <div>
            <label>Username: </label><input [(ngModel)]="user.username" type="text" required>
            <label>Password: </label><input [(ngModel)]="user.password" type="password" required>
            <button (click)="login()" class="btn btn-primary btn-lg">Login</button>
            <span></span>
        </div>
        <div class="font-weight-bold text-danger">
            {{message}}
        </div>
        
    </div>
    

</div>